################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Claude-Dev_analyze.slnx/FileContentIndex/a59fa740-ec5c-41f0-952c-34f32c3f2103.vsidx
/.vs/slnx.sqlite
/.vs/Claude-Dev_analyze.slnx/FileContentIndex/3cefbdba-df29-426f-8484-bf1bff9f7e9c.vsidx
/.vs/Claude-Dev_analyze.slnx/FileContentIndex/8c0a8521-fb58-4f99-9c6e-69fb381b29a1.vsidx
/.vs/Claude-Dev_analyze.slnx/FileContentIndex/98baa0c7-83ab-4282-95c1-9067170a7cbb.vsidx
*.vsidx
